[2016-12-29 04:37] smjenness opened #4 "Add support for concurrent(by = attr)"

[2016-12-29 04:37] smjenness opened #5 "Add support for non-Bernoulli RG dissolution models"

[2016-12-29 04:38] smjenness opened #6 "Merge in EpiModelHIV::updateInputs and tergmLite::updateModelTermInputs"

[2016-12-29 04:39] smjenness commented on #6
This would provide full support of multi-network simulations in tergmLite

[2016-12-29 04:40] smjenness opened #7 "Remove combindMaxDyads from updateModelTermInputs"
This variable serves no immediate purpose

[2016-12-29 17:31] smjenness opened #8 "Terms to check: degree, nodecov, nodemix"
- [ ] degree
- [ ] nodecov
- [x] nodemix

[2016-12-29 18:05] smjenness opened #10 "Test against mardham formulas"
- [x] add support for concurrent by #4
- [x] test support for nodemix
- [x] add support for absdiffnodemix
- [x] add support for offset(nodemix("race", base = 1)) in dissolution formula

[2017-01-06 17:47] #6 closed, assigned to nobody

[2017-01-06 17:47] #7 closed, assigned to nobody

[2017-01-06 17:47] #4 closed, assigned to nobody

[2017-01-06 17:47] #5 closed, assigned to nobody

[2017-01-06 17:51] smjenness commented on #10
Supported!

[2017-01-06 17:51] #10 closed, assigned to nobody

[2017-01-25 21:05] smjenness opened #11 "Add support for degrange"
Reference:

[code]

[2017-03-27 00:28] smjenness opened #12 "Check that concurrent_by still works with ergm_3.7.1"
Given this comment in news:

[2017-03-27 14:10] smjenness commented on #12
Looks good

[2017-03-27 14:10] #12 closed, assigned to smjenness

[2017-10-06 20:31] #8 closed, assigned to nobody

[2017-10-09 15:35] smjenness commented on #11
Completed...

[2017-10-09 15:35] #11 closed, assigned to nobody

[2017-10-12 18:42] smjenness opened #15 "Fix new issue with derange term"
[code]

[2017-10-16 13:43] smjenness commented on #15
Fixed in above

[2017-10-16 13:43] #15 closed, assigned to nobody

[2017-10-16 13:44] smjenness opened #16 "Make CRAN-compatible version of tergmLite"
then Develop general methods for EpiModel

Given this recent update by Pavel in tergm:

[2018-10-24 17:29] dth2 opened #18 "By option for Degree term"
Hi Sam,
Martina mentioned that she brought up the degree_by issue during your MIDAS call and that this seemed like something that could be updated fairly easily so here is the official issue.

Thanks
-Deven

The SHAMP project is trying to include a degree term with a by argument in the persistent network.  The model being implemented is:

fit.2$formation
~edges + nodecov("age") + nodecov("agesq")

[2018-10-24 18:15] smjenness commented on #18
Sure thing, I can add support for degree by attr this week...

[2018-10-30 23:14] martinamorris commented on #18
much appreciated @smjenness, and just a little nudge

[2018-10-31 14:19] smjenness commented on #18
Closed in 97681c52889ed44cee3d5db98210c665087e139b

@dth2 and @martinamorris: updated as requested; please test and report if you have any problems

[2018-10-31 14:19] #18 closed, assigned to smjenness, dth2

[2018-11-03 01:52] smjenness opened #20 "create a simulate_network test function for package"
following code from @DamienGeorges

[code]

need tests for simulation comparisons with tergm versus tergmLite approach for network statistics against flexible tolerance or using set.seed for deterministic results.

[2018-11-03 14:52] #16 closed, assigned to nobody

[2018-11-04 16:16] smjenness commented on #20
Holding off on separate simulation function in tL, instead working on building support for tL directly in EpiModel now

[2018-11-04 16:16] #20 closed, assigned to nobody

[2019-05-19 03:43] chad-klumb opened #23 "make tergmLite use ergm terms"
It appears to me that tergmLite could be made to use ergm terms with relatively minor modifications to each.

Specifically, tergmLite will need to call the relevant InitErgmTerm function when updating term inputs (rather than the currently used updateInputs_termname function), and should allow default argument settings to be handled by check.ErgmTerm (rather than get_formula_term_args_in_formula_e

[2019-05-19 05:32] chad-klumb commented on #23
build errors appear related to ```nlme``` version

apparently a similar thing happened a few years ago (might have some ideas for fixing):

https://github.com/travis-ci/travis-ci/issues/5756

[2019-05-19 05:48] krivit commented on #23
I've already put this in a commit comment, but just to make sure everyone gets the message, this is not a good idea, and someone should have checked with me before starting to implement this. We are already in the process of making the `network` package methods generic, so efforts should be directed there and not into the `nds_*` functions.

[2019-05-19 05:48] krivit commented on #23
@CarterButts , @martinamorris , @smjenness

[2019-05-19 05:51] chad-klumb commented on #23
Okay, I can try to make changes in network instead.

The nds thing was just my way of thinking about generalizing access to network information, which I think we do want to do.  I didn't know it was already underway in network.

We will still need to make InitErgmTerm functions available to tergmLite though.

[2019-05-19 05:58] krivit commented on #23
Here's how I'd do it:

1. Make `network` functions generic.
2. Implementing and export the appropriate methods from `tergmLite`.
3. Make whatever tweaks to be able to call `ergm_model()` on `tergmLite`'s networks.

Right now, we have `pending_update_network` API in `ergm` as well.

[2019-05-20 23:39] chad-klumb commented on #23
Update:

I have shifted generic definitions from ```ergm``` to ```network```.  By tweaking ```networkLite```'s data structure to more closely resemble ```network```'s, only two new generics were needed:

```list.vertex.attributes```
```get.vertex.attribute```

Those are now defined as generics within ```network```, with the existing implementations becoming the ```network``` class methods.  ```net

[2019-05-22 01:10] chad-klumb commented on #23
travis CI errors notwithstanding I think this is ready for testing; everything passed R CMD check on my computer

you will want:

chad-klumb/network@tergmLiteterms
statnet/tergmLite@tergmLiteterms

and optionally

statnet/EpiModel@tergmLiteterms

Be sure you have ERGM version 3.10.

A couple of remarks about EpiModel:

the term absdiffby had some logic in its updateInputs function (formerly in ter

[2019-06-04 19:04] sgoodreau commented on #23
Chad - thanks much for this!  I am back in a position of being able to test it out, and indeed I might already need to be using it for research-level work in the coming days. To confirm the latter, can you clarify my understanding of one thing? Based on the following:

I take it to mean that the branches/forks discussed in here (chad-klumb/network@tergmLiteterms
and statnet/tergmLite@tergmLiteterm

[2019-06-04 21:07] chad-klumb commented on #23
Yes, they should allow one to use the new attr and levels UI for ergm terms that are allowed by tergmLite, as processing of term arguments is now handled by the corresponding InitErgmTerm function.

[2019-06-05 19:26] sgoodreau commented on #23
On first pass, this seems to be working with my research-level runs, which include a nodefactor(~age>25) term in both the formation and dissolution models.  By "on first pass", I mean that prior to downloading these various branches/forms, I got an error about my attribute name not being in the named list, which I tracked down to coming from tergmLite, then I remembered this github thread, came he

[2019-09-03 21:00] martinamorris opened #24 "Interim decision: adapting tergmLite to new ergm-term API"
This is related to #23

The recent ergm-terms API change led to an effort to establish a consistent set of ergm-term calculations -- so that ergm.ego and tergmLite would no longer have a separate set of terms.

Chad identified a way to change tergmLite (and add a couple of generics to the network package) so that it could use the standard ergm-term set.  He committed changes to the "tergmLiteterms

[2019-09-04 14:36] smjenness commented on #23
@chad-klumb I got all the tests to pass locally with the branches set as above. I am trying now to update the .travis.yml to pull from the right EpiModel branch to pass TravisCI.

**Update: it now passes TravisCI**

[2019-09-04 14:38] smjenness commented on #23
@chad-klumb One thing that needs to be checked, updated is that your modification to EpiModel now does not pass for that package. I think the modifications to work with the new API need to be merged into master in this order:

- [ ] EpiModel
- [ ] network
- [ ] tergmLite
- [ ] EpiModelHIV

[2019-09-04 14:46] smjenness commented on #23
@chad-klumb I added a full-scale (research-level) workflow with EpiModelHIV under the `inst` subfolder (it's too big to add to the unit tests) on your branch. Please run and test the new changes there. One problem that I am seeing already, just at the estimation phase, is that the estimation of these large networks is much slower than the current (ergm 3.9, tergmLite master) approach. In particula

[2019-09-04 14:52] smjenness commented on #24
Hi @martinamorris : thanks for this update. I have tested the changes that @chad-klumb made and added some comments on #23 for next steps. At this point, I'm fine with the master branch for tergmLite be the current (i.e., older, using ergm 3.9) approach, while updates are made on developmental `tergmLiteterms` branch.

However, for our MIDAS work the top priority will be to get this current redesi

[2019-09-04 16:58] martinamorris commented on #24
Of course.  On other fronts Chad has

* already pushed a modification to SAN that obeys offsets, which reduced our estimation time for research level (3 network) MSM models on ARTnet data for 10K nets from 7 hours to 40 minutes (YAY!!).  The modifications are in the current dev branch of ergm.  It's possible this will address the hanging issue that you observed. @chad-klumb can you check?

* curre

[2019-09-04 17:26] smjenness commented on #24
@martinamorris wait, the estimation time for the 3-network MSM models with the current ergm is taking 7 hours?!? It takes me ~1 minute for all three models (main, casl, one-time).

[2019-09-04 18:16] martinamorris commented on #24
@smjenness i'd love to see that.  what versions of ergm/tergm are you using? these models have never taken ~1 min for us.  do you have some code that takes this long for you that we can test against current versions?

to be complete, tho, the 40 min includes a summary (to get the suffstats from ergm.ego) and mcmc.diagnostics for each model.

[2019-09-04 18:19] smjenness commented on #24
For example, this model:
https://github.com/EpiModel/CombPrev/blob/master/estimation/estimation.R

Using these package versions (these are the pre-"levels API" versions of ergm/tergm):
https://github.com/EpiModel/CombPrev/blob/master/InstallStack.R

Takes about a minute to run.

[2019-09-04 20:35] chad-klumb commented on #24
I installed the commits referred to above, and ran the main model in that script on nori.  It spent ~ 20 minutes in the MPLE, another ~ 15 minutes in MCMC, and failed to converge within the allotted 500 MCMC iterations.

As a point of reference, the 50k ppop cohab model took ~ 10 minutes in the MPLE with `dev`.  The network in the script above has 100k nodes, so I'm not surprised to see > 10 minut

[2019-09-04 21:01] martinamorris commented on #24
1. Have you tried running the model above swapping out to use the dev branch of ergm?

2. When you say:

did you mean `tergmlite`?

[2019-09-04 21:14] martinamorris commented on #24
@chad-klumb Also, I think we can close this issue, and commit the changes you made to a new dev branch of `tergmlite`.  This issue was just meant to address the question of what to do with your `tergmlite` modifications in the interim.  @smjenness made that decision.

Going forward, discussion of the performance of the new dev branch should be started in a one or more new issues, with appropriate

[2019-09-04 21:16] chad-klumb commented on #23
I triggered a rebuild on EpiModel@tergmLiteTerms and it now appears to work (Travis was having problems at the time I originally made the commits):

https://travis-ci.org/statnet/EpiModel/builds/535547522

[2019-09-04 21:25] martinamorris opened #25 "tergmlite dev branch performance assessment"
Initial work on this is unfortunately spread across #23 and #24:

@smjenness found problems using the new tergmlite on a het network test https://github.com/statnet/tergmLite/issues/23#issuecomment-527934703

@chad-klumb reproduced,
https://github.com/statnet/tergmLite/issues/24#issuecomment-528075759

using the packages (ergm pre API levels change)  installed by Sam's script: https://github.com/E

[2019-09-04 21:49] chad-klumb commented on #25
I would say I did *not* reproduce those results.

The MPLE took ~ 20 minutes both with `dev` and with those older versions linked to in the other issue.

Since MCMC didn't converge I don't think we should try comparing those runtimes; we should probably increase the MCMC.interval and try to get a convergent fit with both versions and see if there's an appreciable difference in runtime.

[2019-09-04 21:51] chad-klumb commented on #24
So it sounds like the present location (tergmLiteTerms branch) is fine and we should try to get it merged into the main branch as soon as we are all satisfied it's performing appropriately?

[2019-09-05 00:17] chad-klumb commented on #23
I remade the `EpiModel@tergmLiteTerms` branch so its changes sit on top of the present state of `master`

TravisCI passed and I think it's now amenable to merging

If you'd like me to do anything more for that branch please let me know

[2019-09-05 01:23] chad-klumb commented on #25
Reran both with this modified fit call:

[code]

Both old and new versions converged in 25-30 iterations.

Runtime was 38.60 mins for `dev` and 38.98 mins for the old versions.  (This was running on one core.)  Estimated coefficients were not remarkably different.

A note that the target stats of 0 for `deg3+` and `nodematch(role.class)` do not guarantee that the network SAN produces has zero valu

[2019-09-05 10:37] martinamorris commented on #25
@smjenness from #23

I find that statement really surprising.  do you have an install stack that reproduces this?

[2019-09-05 10:40] martinamorris commented on #25
@chad-klumb are you saying that this model was not fit more quickly with ergm dev, despite the fact that it includes -inf offsets?  Or are you referring to tergmlite dev (in which case, I think we need to start being more clear in writing things up)

[2019-09-05 12:02] martinamorris commented on #24
@smjenness would you like to start a dev branch for `tergmlite` with this tergmLiteTerms branch while we test performance, and use that dev branch going forward for prototyping updates?  or are you satisfied with Chad's test https://github.com/statnet/tergmLite/issues/25#issuecomment-528155493 that the modifications can be pulled into master?

either way, it may be good to start a dev branch for p

[2019-09-05 17:07] smjenness commented on #25
I'm sorry - the population size should have been 10k not 100k. I fixed this by changing it to 10k, and was able to go through the workflow as expected. Specifically:

- Estimation of each ERGM took about 30 seconds (as with the previous methods)
- Diagnostics looked fine
- Epidemic simulation appeared to have no degradation in speed or accuracy

So I think we have a winner! Thanks @chad-klumb!

@m

[2019-09-05 17:08] smjenness commented on #23
I have merged `EpiModel@tergmLiteTerms` into master.

[2019-09-05 17:11] smjenness commented on #23
I am closing out this issue because I have tested the new approach and it appears to work brilliantly. I am following up on other side comments as new issues here.

[2019-09-05 17:11] #23 closed, assigned to nobody

[2019-09-05 17:19] smjenness commented on #24
Now that I have performance tested Chad's work (and everything looks great), I would like to suggest the following for `tergmLite` branching:

- [x] Merge `chad-klumb/network@tergmLiteterms` into `statnet/network`, and ideally getting this pushed to CRAN soon (@chad-klumb)
- [x] Create release/tag of current `tergmLite@master` to preserve current workflows (@smjenness)
- [x] Merge `tergmLite@tergm

[2019-09-05 19:17] martinamorris commented on #25
@chad-klumb it would be helpful to have you follow up with this.  At this point,  I think the goal is to investigate the speed differences in both msm and het models, comparing ours (WHAMP and SHAMP respectively) to Sam's scripts.   @smjenness is saying that his script estimates using ergm 3.9  take < 1 min, while our working models takes much longer.  There are 3 things to consider/compare:

1. n

[2019-09-05 19:34] chad-klumb commented on #24
Based on the last attempted updates to `network` (PR statnet/network#12), we will need to run revdeps for these changes to make sure we don't break anyone else's packages.

The holdup with statnet/network#12 is that there were a few issues with running revdeps on `statnet2`:

- `RSiena` couldn't be installed due to a lack of `tcltk` support (I think this has to do with the lack of a graphics devic

[2019-09-05 19:59] martinamorris commented on #24
thx Chad for the throrough discussion.  it looks like Rsiena "suggests" network -- less important that a true dependency.  But the folks behind this package are friends, so we should probably reach out via personal channels.

@krivit @CarterButts we should discuss this point next week in Zurich:

[2019-09-05 20:34] chad-klumb commented on #25
The `-Inf` offsets were not used with either.  I was simply saying that specifying `-Inf` offsets would (with `ergm` `dev`, or even `master`) guarantee that SAN respects the constraints being placed on the network, while 0 target stats do not guarantee this.  I don't think it's as big a deal for these models as it was for the cohab model, though.

I can follow up on timing differences, but for the

[2019-09-05 20:46] martinamorris commented on #25
either what?  are you saying Sam's scripts for both msm and het did not have -Inf offsets?

this doesn't have to be done now, after stratTNT is fine.

Adam's scripts are here: https://github.com/statnet/WHAMP/blob/master/adam_work/Darcy_replay/darcy_ee_fits/darcys_terms_artnet_data.rmd

He's going to be working for Deven on CAMP starting 9/15

[2019-09-05 20:51] chad-klumb commented on #25
Either version of `ergm`.

The script used was this one:

https://github.com/EpiModel/CombPrev/blob/master/estimation/estimation.R

It specifies 0 target stats, which "suggests" to SAN that those statistics should have small values, but does not guarantee they are 0.

[2019-09-05 20:59] sgoodreau commented on #25
Yeah, @chad-klumb and I chatted through this last point a bit the other day. There are three ways we have to specify that we want to have no ties of a particular type (say, between members of two groups): the constraints argument, an offset term with a coefficient of -Inf, and a regular term with a target stat of 0.  We (certainly Sam and I) often use the term "constraint" to mean all three of tho

[2019-09-05 23:51] smjenness commented on #25
I prefer using target stats because then all the summary stats are listed in a single vector on the same scale; it's not a strong preference, and if necessary to change, I would.

[2019-09-23 23:12] sgoodreau opened #26 "Diagnose and fix error that nodal attribute is mixing"
@chad-klumb and I have already had a long conversation offline getting to this point.  Short summary is that both @sestansfield's and my evonet scripts stopped working about two weeks ago with the most recent version of all packages, returning an error that a nodal attribute is not present when it clearly is present going into things.  After much sleuthing by Chad and me both, Chad is now almost c

[2019-09-24 12:13] smjenness commented on #26
This update to the NAMESPACE was automatic, just running roxygen on the package based on changes Chad made in May 2019. Chad can feel free to update the underlying R code and re-document with roxygen to fix.

[2019-09-24 17:27] chad-klumb commented on #26
Interesting; when I run roxygen I get `S3method` lines.

IIRC roxygen's conventions for handling methods did change at some point in the past (not sure how long ago though).  Just curious, what version of roxygen are you running?  I have `roxygen2` version `6.1.1`, which appears to be the current CRAN version.

[2019-09-24 17:36] chad-klumb commented on #26
Also, you'd need to have `chad-klumb/network@tergmLiteterms` installed when you `roxygenize` `tergmLite` for it to detect the correspondence between generics and methods correctly (since `list.vertex.attributes` and `get.vertex.attribute` aren't generics in CRAN `network`).  Roxygenizing with CRAN network resulted in ordinary `export` lines.

[2019-09-24 17:38] smjenness commented on #26
See https://github.com/statnet/tergmLite/commit/f88fc787111c115175f6dd7f38cc3032a1d1d72c

I think you need to explicitly note the S3 method in roxygen with a `@method` tag. If that looks wrong, please feel free to revert back.

[2019-09-24 17:43] chad-klumb commented on #26
I'll test this with Steve when we sit down (presently).

Per Hadley Wickham we're not supposed to use `@method` or `@S3method` anymore (see the top answer here):

https://stackoverflow.com/questions/14361616/s3-method-help-roxygen2

`@export` should work for methods as well as functions, but the correct versions of other packages need to be installed for the correspondence between methods and gene

[2019-09-24 17:47] smjenness commented on #26
I see - please revert back then as I likely did not have the proper version of network installed.

Also, could you move your branch of network over to `statnet/network` in advance of it getting merged into master?

[2019-09-24 17:48] chad-klumb commented on #26
I don't have push access to network so I can't do that personally but I'm happy to have someone else do it.

[2019-09-24 17:50] smjenness commented on #26
Ok, can you please add that for discussion agenda with @martinamorris when you next meet with her?

[2019-09-24 17:51] smjenness commented on #26
Reference back to related workflow issue:

https://github.com/statnet/tergmLite/issues/24#issuecomment-528483629

[2019-09-24 18:51] chad-klumb commented on #26
Will do.

@sgoodreau the `tergmLiteterms` branch of `tergmLite` should now work with your code.  Please test at your convenience and let me know if you have any problems.

[2019-09-24 19:23] sgoodreau commented on #26
Works, both locally and on Hyak.  Thanks!!!!!

[2019-09-24 19:23] #26 closed, assigned to nobody

[2019-10-07 13:11] smjenness commented on #24
Hi @chad-klumb and @martinamorris : I would like to check in on the status of the checklist above.

https://github.com/statnet/tergmLite/issues/24#issuecomment-528483629

It looks like we are still stuck on the first item.

[2019-10-07 16:57] martinamorris commented on #24
@chad-klumb you can go ahead and update `network` (I've changed your permissions).

Before we release this next version of `network` to CRAN I need to contact the folks at RSienna.  I did chat with Pavel and Carter briefly at EUSN last month.  We agreed it's important to keep the RSienna folks in the loop, but we can't hijack our development process for ensuring backwards compatibility with RSienn

[2019-10-07 17:28] chad-klumb commented on #24
Thanks for the permissions; I'll get the changes up shortly.  (We should probably chat briefly about this at today's NMG meeting.)

[2019-10-07 21:37] martinamorris commented on #24
Update:  @chad-klumb will issue a pull request to `network` with a 24 hr deadline.

it looks like the blocking issue (revdeps) might be related to the statnet server we test things on, rather than RSienna itself.  the server is old and outdated, and will be retired in December, so we'll be talking with @krivit about setting up a new test environment.

[2019-10-08 03:49] chad-klumb commented on #24
Working on getting a direct comparison of revdeps for current network master and the proposed changes.  (Even if we can't test every last one it would be good to see that there are no new failures among those that we can test, which is most of them.)  I was hoping to have that done today but the process hung so I won't have it until tomorrow (at which point I'll make the PR).  Sorry for the delay.

[2019-10-17 14:04] smjenness commented on #24
Hi @chad-klumb : I completed my checkboxes here (https://github.com/statnet/tergmLite/issues/24#issuecomment-528483629) and deleted the old development branch in the process. I'm closing this issue now as I assume you will create a new dev branch off of current master when you need to continue working here. Thanks for all your work here. I also added you to the author list in the DESCRIPTION file.

[2019-10-17 14:04] #24 closed, assigned to smjenness, chad-klumb

[2019-10-17 14:07] smjenness opened #28 "Implement/test triangle and gwesp terms with networkLite API"
As discussed on our call yesterday, @chad-klumb could you please implement the two ergm terms triangle and gwesp on the allowed terms list. This should be implemented on the current master branch before you branch off a new dev branch. This will round out the set of standard terms we use in both research and workshop teaching. Thanks!

cc: @martinamorris

[2019-10-18 00:40] chad-klumb commented on #28
The `InitErgmTerm` functions for `triangle` and `gwesp` appear to have no problem working with `networkLite`s.

Regarding `gwesp` though, there may be larger issues about curved terms; sometimes those need to be handled differently than non-curved terms.  I'm not sure if all that has been built into `EpiModel`/`tergmLite`'s typical workflow or not.

Do you want to use `gwesp` as a curved term (wit

[2019-10-18 00:52] smjenness commented on #28
@martinamorris @sgoodreau please weigh in here

[2019-10-18 16:39] martinamorris commented on #28
First -- we'll only use this for courses, as it requires complete network data.  Pavel/Michal/I are working on an ergm.ego paper for triadic estimation when the alter-alter matrix data are available, but it's proving to be slow going.

Second -- it's almost impossible to estimate the decay parameter with a single cross-sectional network.  In the recent Stewart/Schweinberger/Morris paper we revewed

[2019-10-18 17:01] martinamorris commented on #28
@chad-klumb would you please evaluate/report back on all of the triad terms?  i think this will get them:

[2019-10-18 23:03] chad-klumb commented on #28
`localtriangle` takes an edge attribute, and `transitiveweights` is weighted only, so I would not expect either of those to work

the remainder should in principle work with the addition of one or two trivial `networkLite` accessors (like `network.edgecount.networkLite`)

however many of the triad-related terms are directed only; from the front page of `tergmLite`:

For epidemic models, the only t

[2019-10-19 11:55] smjenness commented on #28
@chad-klumb : you're right, epidemic simulations of the type we run are only ever on undirected binary networks, and so tergmLite and EpiModel were designed only around that network type. I see no need in the near future to support directed or valued networks. Thanks!

[2019-10-21 15:26] martinamorris commented on #28
yup, that's ok.  if EpiModel can't use a specific term because it applies
to directed nets, it won't be in our course materials or research.

it may be in someone else's approach, as one approach to network epi is to
model the transmission network (which is directed) rather than the
partnership network (which is not).  @sgoodreau, i'm wondering if the
phylo net analyses will ever take this approac

[2019-10-21 22:47] sgoodreau commented on #28
I'm pretty sure that the phylogenetics work is very unlikely to ever be modeled using the machinery of directed networks within statnet or EpiModel.  Typically one would model the dynamic contact/act network.  Then on top of that one would model transmissions occurring using the type of additional code we always use.  Then on top of that one would model evolution.  Then on top of that one might mo

[2019-10-21 23:21] chad-klumb opened #29 "initialization of edge set for 800k node networks"
Starting this in `tergmLite` but feel free to move it elsewhere if you want to.

Recent revelations about suboptimal starting points leading to long runtimes led me to wonder how the initial set of edges was chosen in the 800k node networks used for simulation.  It sounds like 750k people are "birthed" in on the first time step (the other 50k being leftovers from the estimation run), and the requi

[2019-10-21 23:26] chad-klumb commented on #28
So other than `triangle` and `gwesp(fixed=TRUE)`, do we need anything else right this minute?

[2019-10-22 00:03] martinamorris commented on #28
No -- but if we're going to leave the list of terms available for `tergm-lite` mostly unchanged, except for these two additions, then we need an issue to remind us to come back and expand the list later.

[2019-10-22 00:05] chad-klumb commented on #28
Okay.  Expanding the `networkLite` class is something I hope to do after this tergm stuff and adding more terms goes hand in hand with that.

[2019-11-13 17:29] smjenness commented on #28
This issue is closed with #30

[2019-11-13 17:29] #28 closed, assigned to chad-klumb

[2019-12-02 18:28] martinamorris opened #31 "add access to MCMC burnin/interval control parameters"
In the context of large nets with small subgroups, it is sometimes necessary to increase the MCMC burnin during simulation to ensure the formation of rare ties keeps up with dissolution.

The current implementation of [`stergm_getMCMCsample`](https://github.com/statnet/tergmLite/blob/d4b3ff5c1e8742ff5b0e9e8333aa8b384019d417/R/simulate.R#L50) does not provide access to these MCMC control parameters

[2020-01-14 13:58] smjenness opened #32 "Question on circular dependencies before CRAN submission"
@chad-klumb @krivit : Could you please comment on this.
cc: @martinamorris

I am just about ready to submit tergmLite to CRAN, but I am concerned about whether we should keep EpiModel as a `Suggest` in the DESCRIPTION file because this may create a circular dependency when I then update EpiModel to `Depend` on tergmLite. EpiModel is currently a `Suggest` for tergmLite only so it can run unit tests

[2020-01-14 19:16] chad-klumb commented on #32
I think it's okay to have depend one way and suggest the other, e.g. tergm and ergm do that.

Apparently Pavel was wondering the same thing 7 years ago:

https://r.789695.n4.nabble.com/Submitting-packages-with-weak-circular-dependencies-to-CRAN-td4660766.html

so he can probably give more definitive advice.

[2020-01-14 19:57] #32 closed, assigned to nobody

[2020-01-23 17:07] chad-klumb opened #34 "EpiModelHIV.R test "not working""
This does not seem to work with current repo heads (in particular for ARTnet).  I was eventually able to track down past versions for which it now *appears* to be working, but that was a little more complicated than expected as it seems some changes have now been merged into `master` (of ARTnet) that are dated before `EpiModelHIV.R` was posted to tergmLite, and those changes actually break the tes

[2020-01-24 03:05] chad-klumb opened #35 "tergmLite-private?"
Updates to tergmLite to work with (t)ergm 4.0 will necessarily reference the latter which are currently private.  Should we make a tergmLite-private@dev branch to hold these updates?

[2020-01-24 15:32] martinamorris commented on #35
that seems like a good idea, now that we have a CRAN release.  @smjenness?

[2020-01-24 15:35] martinamorris commented on #34
@smjenness I'll take a quick look at this with @Shmelder today.  I'm guessing the problem is that you've made changes to the ARTnet repo scripts that haven't been integrated into the `EpiModelHIV.R` test script.  Will report back, but I think it would be best if you updated  `EpiModelHIV.R` to be consistent with ARTnet script changes.

[2020-01-24 18:44] smjenness commented on #35
That's fine with me

[2020-01-24 19:02] smjenness commented on #34
Commit b59ee55 locks in the versions of the ARTnet packages that work with this script. At this point, we have a few moving pieces in those packages such that I'm not ready to update the script to use the master branches, but that work will not affect tergm development.

[2020-01-24 19:02] #34 closed, assigned to nobody

[2020-02-14 01:43] dth2 opened #36 "removing stergm_prep and ergm_prep from exports"
Hi Sam,
Both the ergm_prep and stergm_prep initialization functions have been removed from exports and made internal to init_tergmLite.  However, when I use init_tergmLite rather than stergm_prep directly I get an error (shown below).  This code worked fine this using the _prep calls directly before I updated tergmLite.  Is there any reason that we should not be able to call these functions direct

[2020-02-14 08:53] DamienGeorges commented on #36
Hi Sam, Hi Deven,

I have the same issue.
My quick fix (not ideal) is to stick to v1.2.0  of tergmLite (`remotes::install_github("statnet/tergmLite@v1.2.0")`)
This version seems still work smoothly with EpiModel package suits.

Best,
Damien

[2020-02-14 15:51] dth2 commented on #36
Thanks Damien.  An alternative that I am currently using is to move the functions in to the EpiModelHIV utilities, but also not idea.

[2020-02-14 16:37] smjenness commented on #36
I'm sorry that you are both encountering this issue. I have had to update tergmLite in this way in advance of publishing it on CRAN, which should be coming soon. You can certainly use the prior version (v.2.0 is fine and takes advantage of the new networkLite API) but if you send me a link to your code where you have input init_tergmLite I can help debug. Thanks

[2020-02-18 22:25] martinamorris opened #37 "Allow controls to be passed to simulate_network"
Currently, it is not possible to send control arguments to the `simulate_network` function.  It is instead hardcoded in the `simulation.R` script here:

https://github.com/statnet/tergmLite/blob/b9895642b2bc7d8455dfc18494db4782cbb06272/R/simulate.R#L78

and here:

https://github.com/statnet/tergmLite/blob/b9895642b2bc7d8455dfc18494db4782cbb06272/R/simulate.R#L84-L88

Ideally, we would want to be a

[2020-02-20 22:52] chad-klumb opened #38 "want to track network stats during tergmLite simulation"
Sounds like Deven has done this manually before, for one or two statistics.

Emily and I hacked something together that hopefully will allow us to track the full summary stats for the formation models, but it's not optimally efficient.

Ideally, if the user sets a flag, we would get change stats back from the MCMC calls (for little to no additional time cost) and add those to the previous timestep

[2020-02-20 22:56] chad-klumb commented on #38
Actually just realized changestats from MCMC alone wouldn't take into account changes due to modifications to the network made outside MCMC, so we'd need to do something more/different to get the correct statistics throughout the entire sim.

Calling summary each timestep is possible but may not be optimal.

[2020-02-20 22:58] chad-klumb commented on #38
Although doing it differently would seem to require implementing "changestats" for all the sorts of modifications we do outside of MCMC, which is too much work.

So perhaps summary is the way to go.

[2020-02-21 14:09] smjenness commented on #38
Hi @chad-klumb : @martinamorris emailed me about this yesterday, and I responded back to her there as follows:

******

If you use save.nwstats = TRUE with EpiModelHIV, it triggers running this:

https://github.com/EpiModel/EpiModelHIV-p/blob/CombPrev/R/mod.simnet.R#L95-L113

which saves 3 network stats (edges, meandeg, concurrent).

Unfortunately,  there is no efficient way to get these summaries

[2020-03-23 14:10] DamienGeorges commented on #36
As a follow up on that point.

@dth2 method (source the 'old' version of `stergm_prep` and `ergm_prep`) is so far the best/easiest way to handle this issue (thanks Deven)

A more elegent way would be to use the new `init_tergmLite` function. The issue so far is that it does not support multi network approach as implemented in EpiModelHIV framework.

In multi-network simulation we do not want to re

[2020-03-23 21:52] smjenness commented on #36
Hi @DamienGeorges : I'm not quite clear what you mean here. The tergmLite approach now (in the version released on CRAN) supports the multi-network setup, like in EpiModelHIV, but does not replicate the other model components. I'm happy to help you convert over to this now public, stable version of tergmLite.

[2020-04-01 21:10] sgoodreau commented on #37
@smjenness  We are diving into this on our end, as the issue is re-appearing in a number of folk's workflows.  Before we (meaning @chad-klumb) spends time thinking about how to make this happen and implmenting, we wanted to check with you - is this an avenue you already went down when you first set up tergmLite and faced issues in doing so? And/or, any down sides you see to this?

[2020-04-01 23:29] smjenness commented on #37
Haven't had any need, or given it any thought, so code away!

[2020-04-01 23:31] sgoodreau commented on #37
Great, @smjenness. @chad-klumb, it is fully in your hands.  Go forth!

[2020-04-14 20:39] smjenness commented on #31
Duplicate of #37

[2020-04-14 20:39] #31 closed, assigned to krivit

[2020-05-01 16:30] andsv2 opened #42 "network_initialize: directed passed twice to network.initialize"
In the new ```network_initialize``` wrapper function, ```directed``` is passed at the top level, however this parameter is already set as default in ```network.initialize``` causing ```directed``` to be passed two values (initial directed is passed in ```...``` args). Suggest naming initial ```directed``` something else to fix.

[code]

[2020-05-01 16:31] andsv2 commented on #42
@smjenness for your review.

[2020-05-01 20:26] #42 closed, assigned to smjenness, andsv2

[2020-05-18 14:57] chad-klumb commented on #35
This should be up now (statnet/tergmLite-private).  If there are any concerns let me know.

[2020-05-18 14:57] #35 closed, assigned to nobody

[2020-08-26 11:12] smjenness commented on #38
Hi @chad-klumb : any updates on this issue? Thanks

cc: @martinamorris

[2020-08-26 13:03] chad-klumb commented on #38
This is available with `tergmLite-private@dev` and `EpiModel@summary_statistics` via the `extract.summary.stats` and `monitors` control arguments.  It can also work with `EpiModelHIV` epidemic simulation as implemented in e.g. `EpiModelHIV@shamp_summary_stats`.

[2020-08-26 13:06] smjenness commented on #38
Excellent, thanks. Are these CRAN-compatible with Statnet (ergm, tergm)?

[2020-08-26 13:14] chad-klumb commented on #38
As of the most recent updates to those branches of `tergmLite-private` and `EpiModel`, they passed Travis CI when built against `dev` branches of `ergm`, `tergm`, etc.  They do require `dev` versions of various Statnet packages to function properly.

[2020-08-26 13:17] chad-klumb commented on #37
This is available with `tergmLite-private@dev` and `EpiModel@summary_statistics` via the `MCMC_control` control argument.

[2020-08-26 13:23] chad-klumb commented on #29
This is not really a `tergmLite` issue so I'm closing it.

Initializing multi-network models with cross-network effects can be accomplished via `san`.  Assuming two networks with bi-directional cross-network effects, in order for the initialization to be close on all target stats it can be helpful to include an additional statistic in the second network's `san` run that corresponds to the first ne

[2020-08-26 13:23] #29 closed

[2020-08-26 13:26] smjenness commented on #38
ok, thanks. I will wait to merge tergmLite and EpiModel until the dev vrsions of Statnet packages are published on CRAN. Any idea of the timeline for this?

[2020-08-26 13:44] chad-klumb commented on #38
To the best of my knowledge, the current plan is:

1. push current `master` to CRAN in September
2. merge `dev` into `master` soon after 1.
3. give reverse-dependencies and other users a couple of months to adjust to all of the changes introduced from 2.
4. then push `master` (which would include what is currently in `dev`) to CRAN

Based on that, I would expect `dev` to be on CRAN towards the end

[2020-08-26 13:50] smjenness commented on #38
Oh, I thought that was the timeline for the ergm 4.0 packages, and that the dev's were intermediate versions ready to release in August (but we decided to wait until after NME). Is the dev the major 4.0 updates?

[2020-08-26 13:52] chad-klumb commented on #38
Yes, `dev` is the major `4.0` updates.

[2020-08-26 16:17] martinamorris commented on #37
great thx.

[2020-08-26 16:19] martinamorris commented on #38
@chad-klumb this is great, thx.  @smjenness i will start testing the dev versions on WHAMP sims this week.  will keep you updated.

[2020-08-26 16:22] smjenness commented on #38
Thank you! @martinamorris : it would be great if we could accelerate step 3 above so that reverse dependency testing does not take 2 months. Any thoughts on how to do that?

[2020-08-26 16:32] martinamorris commented on #38
@smjenness this is a major update for the statnet packages -- so i think we all have an interest in thorough testing before release.  the usual practice is 2 wks notice, so i think @chad-klumb's estimate of 2 mos defines the max (and reflects how many packages we will be pushing, and how much time it will take to do that right).

for our crew (the statnet-EpiModel folks),  as always, it's difficul

[2020-08-26 19:39] martinamorris commented on #29
I'm going to transfer this issue over to our cross-project repo.

[2020-10-02 21:10] adam-s-elder opened #45 "Update get_vertex_attributes"
It looks like the get_vertex_attributes has some copied code from set_vertex_attributes that needs to be changed. I would submit the changes myself, but I was looking at the documentation because I don't know what get_vertex_attributes does.

https://github.com/statnet/tergmLite/blob/e3dada01b3bdceba07ed658bc0547964a1b8dc7d/man/get_vertex_attribute.Rd#L22-L29

[2020-10-07 00:14] smjenness commented on #45
@adam-s-elder : docs fixed in above commit. Let me know if that addresses your question. If so, please close the issue.

[2020-10-07 00:21] adam-s-elder commented on #45
Thanks.  I will need to figure out what query means, but I am guessing this fixes the issue.

[2020-10-07 00:21] #45 closed, assigned to nobody

[2020-10-19 23:38] adam-s-elder opened #46 "Issues in long EpiModel runs"
I am currently running a fairly long epimodel simulation.  This is my current install stack:

[code]

After running for about 300 steps, there is pretty sizable slowdown (steps in the epimodel simulation that took about 2 seconds in the beginning take about a minute).  After about 20-50 more steps, the simulation fails and provides this error:

[code]

Here is the traceback I am getting:

[code]

[2020-10-19 23:43] chad-klumb commented on #46
It would help to know if some part of the `dat` object has grown quite large; if so that could help pin down where the issue is.

[2020-10-19 23:44] chad-klumb commented on #46
btw this may be better in `tergmLite-private` since that's the version being used

[2020-10-19 23:46] adam-s-elder commented on #46
Good point.  I will follow up with an answer to your question in the termLite-Private github

[2020-10-19 23:46] #46 closed, assigned to nobody

[2021-01-19 20:40] ThomasKraft opened #47 "implement edgecov attributes in tergmLite"
It would be very helpful if tergmLite's functionality could be expanded to support models that include `edgecov` terms. I have now encountered two scenarios where tergmLite functionality is desired (complex models requiring large MCMC burnin and sample size that cause slow simulation time) but cannot be used because of the necessary inclusion of `edgecov` terms in models .

This linked post (EpiMo

[2021-01-29 15:22] smjenness commented on #47
@ThomasKraft : thanks for this suggestion. Our team has discussed and we will consider it for future work potentially later this year. However, we would like to suggest that there may be few if any efficiency gains with this (compared to use full tergm simulation of network objects with edgecov attributes). That is because the edgecov attributes would be stored with an adjacency matrix still in te

[2021-01-29 15:47] ThomasKraft commented on #47
Thanks for this insight! This makes sense in terms of what I have been experiencing. In my applied models I have ~7500 nodes, and my model includes 3 edgecov's in addition to block constraints and a number of vertex attributes. I also am dealing with short dissolution durations, as well as somewhat computationally expensive custom modules that dynamically alter edgecov variables throughout the sim

[2021-01-29 19:07] martinamorris commented on #47
Just FYI, in the next release of the statnet tools, we have implemented a set of new MCMC proposals that dramatically reduce estimation and simulation times.  We are in the testing phases now, and should have a beta release (on GitHub) hopefully in the next couple of weeks.  Would you be interested in trying  those?

I don't think this will solve the edgecov memory issues, but it might reduce the

[2021-01-29 19:42] ThomasKraft commented on #47
@martinamorris : That's great news! I will try this on my local machine, and since I have access to the development version already I should be able to go ahead (e.g. using remotes::install_github("statnet/ergm-private@dev") ).

Thus far I've avoided using anything but CRAN versions on the HPC because I've had problems with package/library management. But that should be surmountable.

[2021-01-29 21:26] martinamorris commented on #47
@ThomasKraft it's a bit more complicated -- the changes in ergm 4.0 are substantial, and affect many of the packages, so they all need to be updated as a suite.  That's also true for EpiModel -- you'll need the development version that is compatible with the 4.0 tools.

On the statnet side, if you install from ergm-private@dev, it should automatically pull the compatible dependencies.  But I'll ne

[2021-01-29 21:29] ThomasKraft commented on #47
I'll plan on waiting for the dev branch to be merged to master in that case. And when I update to the new master, I'll plan on doing so for both statnet and EpiModel. Thanks as always for the help.

[2021-02-01 16:42] ThomasKraft opened #48 "netest memory usage for "formula" and "constraints""
Using `netest` to fit a relatively dense network (~8k nodes, 22k edges), I am encountering extremely high memory demands from unexpected parts of the object ("formula" and "constraints" within $fit). For example:

`pryr::object_size(model_fit$fit$formula)`
yields 10.3 GB

`pryr::object_size(model_fit$fit$constraints)`
yields 10.3 GB

Given that the network object is only 1.3 GB or so, this seems s

[2021-02-01 21:24] krivit commented on #48
This may be related to https://github.com/statnet/ergm-private/issues/332 .

[2021-02-02 10:38] chad-klumb commented on #48
Is the size substantially lower without the offset, or with the offset specified differently (such as a named vertex attribute rather than a formula)?

[2021-02-02 16:22] ThomasKraft commented on #48
@chad-klumb It appears that the method of specifying the edgecov variables is driving major size differences, particularly writing the formula using `edgecov(variable)` versus `edgecov("variable")` with the latter case stored as a network attribute. At first I was tempted to think that this behavior was a result of the size of the network object itself, but running `pryr::object_size(fit$constrain

[2021-02-02 16:28] ThomasKraft commented on #48
I forgot to mention, dropping the offset term altogether doesn't seem to reduce the size increase of the netest object, or the size of the object$constraints. I find that rather confusing since the constraints should be empty in that case, no?

[2021-02-02 21:49] krivit commented on #48
Can you please drill down deeper? I.e., `sapply(object$constraints, object_size)`, `sapply(object$constraints$<BIGGEST>, object_size)`, etc.?

[2021-02-02 23:27] chad-klumb commented on #48
The `constraints` should be "trivial" (i.e. `~.`) with or without the offset, because you aren't specifying a `constraints` argument.  Even trivial formulas have environments, though, and those environments could have various large objects in them.

It would be interesting to know how the size from `netest` compares with the size from a direct call to `ergm`.  There are some environment modificati

[2021-02-02 23:58] ThomasKraft commented on #48
That is correct, looking within `constraints` simply returns: `~.` (as well as the environment `<environment: 0x7fdc40796cc0>`). As such, `sapply(object$constraints, object_size)` doesn't return much information. In this case "56 56", but there aren't really any objects there.

But I think @chad-klumb nailed it about an issue with the environment. I've been trying to figure out why I'm getting suc

[2021-02-03 06:36] krivit commented on #48
My bad. I had mixed up `constraint` with `constrained` (which is a list).

To elaborate on what @chad-klumb wrote, a formula created inside a function will carry its environment around. One that is created outside a function will have `globalenv()` as its environment and will not carry it around.

`statnet.common` has a function `trim_env()`, which replaces an object's environment with one that is

[2021-02-03 15:44] ThomasKraft commented on #48
Thanks @krivit. In running checks, I'm realizing that the example code I posted isn't doing a good job of reproducing the issue. In the example, the network is being stored 3 times in the model fit (`model$fit$network`, `model$fit$newnetwork`, `model$fit$newnetworks`), and the size difference is accounted for by the size of the matrices included as network attributes multiplied by 3.

In my empiri

[2021-02-03 18:17] ThomasKraft commented on #48
@krivit unfortunately using the @trim_env branch does not appear to change the outcomes I'm experiencing.

However, I have discovered that part of the object size issue is deriving from size expansion during saving and loading an netest object (using `saveRDS` and `readRDS`). It is very simple to reproduce this issue: running the example above, if you then do the following:

[code]

You will see t

[2021-02-03 20:44] ThomasKraft commented on #48
Another clue: re-loading a `netest` object and then re-setting the environment of constraints (and formula) to the global environment brings the object size back down to expected size. `netsim` appears to work fine on the resulting object. This is obviously a terrible hack, but might this work as a solution?

[code]

[2021-02-03 22:20] ThomasKraft commented on #48
Using `trim_env` manually on a completed `netest` also seems to effectively bring the size down to the expected value. Hard to see why @krivit 's changes in statnet/EpiModel@trim_env (commit `bca5d83`) don't therefore solve this issue.

Perhaps it is noteworthy that `trim_env` has differential effects on size when used on model$fit$constraints versus model$constraints.

[2021-02-03 23:56] krivit commented on #48
Can you try the by-element object_size analysis for the `trim_env` branch? `$constraints` should be much smaller; and I suspect that the reason `$formula` is so big is that its environment isn't trimmed but rather now contains the LHS network. In fact, it might not actually take up space over and above the rest of the fit, which also contains the network, since it's the same network.

[2021-02-04 00:01] chad-klumb commented on #48
There's still an assignment of `constraints`'s environment after the model fit:

https://github.com/statnet/EpiModel/blob/bca5d83795755849add9591b6f67434b04d1cc8b/R/netest.R#L210

[2021-02-04 00:39] ThomasKraft commented on #48
The by-element object_size analysis still suggests that both the constraint
and formula are large.

On Wed, Feb 3, 2021, 6:02 PM chad-klumb <notifications@github.com> wrote:

[2021-02-04 01:09] krivit commented on #48
Ah... I think it might be worth auditing `EpiModel` for its environment hygiene.

[2021-02-04 01:11] krivit commented on #48
@ThomasKraft, how about now?

[2021-02-04 14:50] ThomasKraft commented on #48
@krivit this has fixed the size issue with both $constraints and $fit$constraints!

However, the issue with formula remains unresolved (very large, expanding size during saving/loading). Regarding your comment earlier, $formula does appear to be taking up quite alot of space over the rest of the fit (not sure if this is because the LHS network is stored in that environment). Perhaps the environmen

[2021-02-04 18:30] martinamorris commented on #48
@ThomasKraft yes, the LHS network is stored in the formula environment.  As Pavel once said, "formulas are devious".

So, the places networks are stored in a fit object are:

1. fit$network -- the original network, or, if working with egocentric data, the network produced by SAN
2. fit$newnetwork -- the final sampled network from the estimation MCMC chain
3. fit$newnetworks -- a list of the final

[2021-02-04 18:41] ThomasKraft commented on #48
Thank you for this very clarifying breakdown. It seems that stripping (4) from the `netest` object might cause problems with models including `edgecov` variables. I've tried modifying the $fit$formula environment directly of the `netest` object, and then `netsim` subsequently throws an error that it doesn't know where to look for the `edgecov` object (defined in the global environment at time of `

[2021-02-04 22:14] krivit commented on #48
If it's single-threaded, then it's just a list of length 1. (It's the same network as `fit$newnetwork`.)

I am not sure where it's coming from. `ergm.ego` constructs a network by that name, but `EpiModel` doesn't use `ergm.ego` (yet).

[2021-02-04 22:26] ThomasKraft commented on #48
I notice that when looking within the `netest` object, running `ls(environment(model$fit$formula))` returns only "TARGET_STATS", which appears to be just a static network object that is identical() to what @martinamorris listed as (1).  This would suggest that it's redundant (at least in my case), but as noted above `netsim` seems to look there `edgecov` variables specified in the formula.

[2021-02-04 22:40] martinamorris commented on #48
@krivit, the current EpiModel uses a call to `ergm` with `target.stats` argument.  what does ergm return in the `fit$formula` environment in that case?

[2021-02-05 01:14] krivit commented on #48
It's an environment containing `TARGET_STATS`, with the formula's original environment as its parent environment.

[2021-02-05 15:47] ThomasKraft commented on #48
Can you help me understand why `object_size(fit_test2$fit$formula)` is exactly twice as large as `object_size(environment(fit_test2$fit$formula)$TARGET_STATS)`?

This appears to be at the heart of the memory duplication that is occurring, and I suspect it is because the network is being stored in the formula's environment. If this is the case, then I believe it creates my original issue when savin

[2021-02-05 16:34] ThomasKraft commented on #48
To help with diagnosis, here is a minimal example for the remaining memory management problem:

[code]

[2021-02-05 19:11] martinamorris commented on #48
I can't explain it, but I see it. (though my values for the saved object are a bit bigger than yours).  A more complete reprex:

[code]

[2021-02-09 15:44] ThomasKraft commented on #48
One factor that would help ameliorate memory issues with large networks would be the ability to discard saved networkDynamic objects automatically when at the end of each run. As far as I know this is no longer possible with the defunct `save.network` argument now. @smjenness is there an easy way to throw out the saved network object within each simulation at the end of `nsteps`?

[2021-06-07 15:47] smjenness commented on #37
Closing this as we get ready to merge into master.

[2021-06-07 15:47] #37 closed, assigned to smjenness, sgoodreau, chad-klumb

[2021-06-07 15:48] #36 closed, assigned to nobody

[2021-06-07 15:49] smjenness commented on #25
@martinamorris and @chad-klumb : it seems like this was addressed, yes?

[2021-06-07 15:53] martinamorris commented on #25
I don't think so.

[2021-06-23 23:52] chad-klumb opened #51 "eliminate low-level reference in tergmLite"
As now implemented, what `tergmLite` does isn't that different from what the `ergm` and `tergm` `simulate` functions do internally.

It should be investigated whether `tergmLite` can be made to call top-level `simulate` functions (passing a `networkLite` as input, and obtaining a `networkLite` or `edgelist` as a return value) without a meaningful performance hit.

If this can be achieved then it w

[2021-06-24 00:58] chad-klumb opened #52 "consider disbanding the tergmLite package"
Assuming #51 pans out (and I think it should, with at most some minor tweaks to `ergm` and `tergm` `simulate` functions), the functionality offered by the `tergmLite` package would basically consist of:

- `init_tergmLite` in `initialize.R`
- a few lines of `network` wrappers in `network.R`
- a few lines of `simulate` wrappers in `simulate.R`
- a few lines of network updating logic in `update.R` a

[2021-06-24 14:23] smjenness commented on #52
That's great @chad-klumb! That was our (me and @martinamorris's at least) original vision. I would fully support that and have the remaining bits of tergmLite code migrate to EpiModel.

[2021-06-24 17:18] martinamorris commented on #52
Amen to that.

[2021-09-28 13:26] AdrienLeGuillou opened #55 "segfault in simulate_network with control = NULL"
when implementing the new APIs for the CombPrevNet project I stumbled upon a segfault in the `tergmLite::simulate_network` [here](https://github.com/EpiModel/EpiModelHIV-p/blob/CPN_new_APIs/R/mod.simnet.R#L27).

This was due to the `reinit_msm` function not pulling the `mcmc.control` element from the original `simnet` object. ( [fixed here](https://github.com/EpiModel/EpiModelHIV-p/blob/CPN_new_AP

[2021-09-28 19:12] chad-klumb commented on #55
One option is to add a `check.control.class` call to `simulate_network` and `simulate_ergm`, which if passed `NULL` would produce an error message like

[code]

This isn't quite a perfect check because the `simulate_network` and `simulate_ergm` controls actually need some augmentation beyond the arguments supported by the corresponding statnet control functions.

These issues should be obviated by

[2021-09-29 05:53] AdrienLeGuillou commented on #55
I'll close the issue then if this will disappear with the move to top level simulate functions. Thanks!

[2021-09-29 05:53] #55 closed, assigned to nobody

[2021-10-25 18:35] #51 closed, assigned to nobody

[2021-10-25 19:14] smjenness commented on #52
This has been completed. All tergmLite functionality wrapped into EpiModel.

[2021-10-25 19:14] #52 closed, assigned to nobody

[2021-10-25 19:15] #38 closed, assigned to chad-klumb

[2021-10-25 19:16] smjenness commented on #25
tergmLite has been disbanded now. @martinamorris : if there are any relevant open sub-issues here, please open new issues on the EpiModel or statnet package repositories.

[2021-10-25 19:16] #25 closed, assigned to smjenness, chad-klumb

[2021-10-25 19:17] smjenness commented on #47
tergmLite has been disbanded (its functionality has been folded into EpiModel itself). If there are any relevant open sub-issues here, please open new issues on the EpiModel or statnet package repositories. Thanks!

[2021-10-25 19:17] #47 closed, assigned to nobody

[2021-10-25 19:17] smjenness commented on #48
tergmLite has been disbanded (its functionality has been folded into EpiModel itself). If there are any relevant open sub-issues here, please open new issues on the EpiModel or statnet package repositories. Thanks!

[2021-10-25 19:17] #48 closed, assigned to nobody

[2022-07-19 12:58] smjenness opened #56 "New errors with EpiModel v2.3.0"
There are new errors arising from the publication of EpiModel v2.3.0 on CRAN.
https://cran.r-project.org/web/checks/check_results_tergmLite.html

@chad-klumb : could you check these and update the unit tests as necessary. At a minimum, we can use some conditional logic to only test if EpiModel v is < 2.3.0.

I'd like to keep tergmLite up on CRAN for the time being in case any users are still using

[2022-07-19 13:38] chad-klumb commented on #56
tergmLite really shouldn't be built and tested with new versions of EpiModel (or statnet packages, for that matter); it isn't designed or maintained to be compatible with them

the immediate issue here seems to be that the old tergmLite implementation of networkLites uses matrices for edgelists, while the newer EpiModel implementation uses tibbles, and these aren't interchangeable

since tergmLite

[2022-07-19 14:01] smjenness commented on #56
Fine with me to skip/delete

[2022-07-19 14:02] chad-klumb commented on #56
went with skipping for now

[2022-07-19 15:08] #56 closed, assigned to chad-klumb